* {
   padding: 0px;
   margin: 0px;
}
                                                                       

h1 {
   color: red;
   background-color: #000;
   width: 100vw;
   heigth: 100vh;
   font-size: 2em;
   font-family: sans-serif;
   text-allign: center;
   border-radius: 10px;
   border: 4px solid green
   margin: 20px;

}



.clase_lol {
   color: blue;
}



#id_xd {
   color: green;
}


[papu="sipapu"]:hover {
   color: yellow;
}
